<app-notification></app-notification>
<app-loading [isLoading]="isLoading | async"></app-loading>

<header class="bg-light py-3 shadow-sm">
  <div class="container">
    <div class="d-flex align-items-center">
      <h1 class="mb-0 text-primary"><i class="bi bi-journal-bookmark-fill"></i> Livro de Receitas</h1>
    </div>
  </div>
</header>

<main class="container py-4 flex-grow-1 main-content">
  <router-outlet></router-outlet>
</main>

<footer class="bg-light py-3">
  <div class="container text-center">
    <p class="mb-0 text-muted">Livro de Receitas Pessoal © 2025</p>
  </div>
</footer>